*{
  background-color: white;
}
header{
  display: block;
  padding: 0;
  margin:0;
  text-align: center;
}
h1{
  font-family: 'Raleway Dots', cursive;
  font-size: 100px;
margin:0;

}
p{
    font-family: 'Raleway Dots', cursive;
    font-size: 40px;
    margin:0;
}

.PhotoGallery{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
img{
  width: 300px;
  height:300px;
  object-fit:cover;
  margin: 30px;
  border-radius: 300px;
}
#pic1{
  transform:rotate(180deg);
}
#pic2{
  transform: rotate(180deg);
}
#pic3{
  transform: rotate(90deg);
}
#pic7{
  transform: rotate(90deg);
}
#pic8{
  transform: rotate(90deg);
}
#pic9{
  transform: rotate(90deg);
}
#pic29{
  transform: rotate(90deg);
}
#pic20{
  transform: rotate(180deg);
}
#pic15{
  transform: rotate(180deg);
}
#pic14{
  transform: rotate(90deg);
}
#pic28{
  transform: rotate(180deg);
}
#pic21{
  transform: rotate(90deg);
}
#pic24{
  transform: rotate(180deg);
}
#pic16{
  transform: rotate(90deg);
}
#pic25{
  transform: rotate(90deg);
}

@media screen and (max-width:900px) {
  h1{
    font-family: 'Raleway Dots', cursive;
    font-size: 70px;
  }
  p{
      font-family: 'Raleway Dots', cursive;
      font-size: 20px;
  }
}
